/* Mobile */
@media (max-width: 768px) {

.container{
width:100% !important;
padding:20px !important;
}

.desktop-only{
display:none !important;
}

.mobile-only{
display:block !important;
}

}

/* Desktop */

@media (min-width: 769px){

.mobile-only{
display:none !important;
}

.desktop-only{
display:block !important;
}

}
